@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  padding: 18%;
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: blue;
}

a:visited {
  color: rgb(17, 243, 29);
}

a:hover, a:focus {
  color: brown;
}

a:active {
  color: yellow
}